<div class="container">
  <div class="login-box">
    <h1 class="logo">Quizzo</h1>

    <form
      class="login-form"
      [formGroup]="registerForm"
      (submit)="RegisterSubmit()"
    >
      <div class="input-group usernameInput">
        <input
          type="text"
          id="username"
          placeholder="Username"
          formControlName="username"
        />
      </div>
      @if(getUsername.touched){ @if(getUsername.hasError("required")){

      <p class="text-danger error">Username Is Required</p>
      } @if(getUsername.hasError("minlength")){

      <p class="text-danger error">
        Username must be greater than 3 characters
      </p>
      } }
      <!-- ------------------------------------------------------------ -->
      <div class="input-group emailInput">
        <input
          type="text"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      @if(getEmail.touched){ @if(getEmail.hasError("required")){

      <p class="text-danger error">Email Is Required</p>
      } @if(getEmail.hasError("email")){

      <p class="text-danger error">Please enter a valid email</p>
      } }
      <!-- ------------------------------------------------------------ -->
      <div class="input-group passwordInput">
        <input
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      @if(getPassword.touched){ @if(getPassword.hasError("required")){

      <p class="text-danger error">Password Is Required</p>
      } @if(getPassword.hasError("minlength")){

      <p class="text-danger error">
        Password must be greater than 8 characters
      </p>
      } }
      <!-- ------------------------------------------------------------ -->
      <div class="input-group passwordInput">
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
      </div>
      @if(getConfirmPassword.touched){
      @if(getConfirmPassword.hasError("required")){

      <p class="text-danger error">Password Is Required</p>
      } @if(getConfirmPassword.hasError("minlength")){

      <p class="text-danger error">
        Password must be greater than 8 characters
      </p>
      } }
      <!-- ------------------------------------------------------------ -->
      <div class="input-group phoneInput">
        <input
          type="text"
          id="phoneNumber"
          placeholder="Phone Number"
          formControlName="phoneNumber"
        />
      </div>
      @if(getPhoneNumber.touched){ @if(getPhoneNumber.hasError("required")){

      <p class="text-danger error">Phone Number Is Required</p>
      } @if(getPhoneNumber.hasError("pattern")){

      <p class="text-danger error">
        Please enter a valid phone number starting with +20 or 01 followed by
        exactly 8 digits
      </p>
      } }
      <!-- ------------------------------------------------------------ -->
      <div
        class="d-flex flex-row align-items-center justify-content-start mt-1"
      >
        <label for="isTeacher" class="text-light">Register as teacher ?</label>
        <input
          type="checkbox"
          id="isTeacher"
          placeholder="Register as teacher ?"
          formControlName="isTeacher"
          class="w-25"
        />
      </div>

      <button type="submit" class="login-button mt-3">Register</button>
      <br />
      <p class="text-light mt-3">
        Have an account ? <a routerLink="/login">Login</a>
      </p>

      @if(error){

      <p class="text-danger error">
        {{message}}
      </p>
      }
    </form>
  </div>
</div>
